body{
    background-color: #c55789;
    animation-name: something;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-repeat: repeat-y;
    background-size: contain;
    margin: 0 30px 60px;
    padding: 0 20px 10px;
}

@keyframes something{
    0% {background-color: rgb(77, 18, 153);}
    25% {background-color: purple;}
    50% {background-color: #c55789;}
    75% {background-color: purple;}
    100% {background-color: rgb(77, 18, 153);}
}

#borderimg {
    border: 12px dotted transparent;
    padding: 11px;
    border-image: url(https://github.com/priesjos/Projects/blob/master/border%20image.png?raw=true) 20 round;
}

h1, h2{
    font-family: 'Petit Formal Script', cursive;
    text-shadow: 2px 3px 3px #501350;
}

h2, h3{
    background-color: seashell;
    /*background-image: radial-gradient(rgba(139, 10, 100, 0.3), seashell);*/
    background-image: url("https://github.com/priesjos/Projects/blob/master/tumblr_o9suhkgmJn1u6i8k5o1_400.gif?raw=true");
    background-repeat: repeat-x;
    border: 2px solid silver;
    border-radius: 13px;
}

h1{
    background-color: #ddd589;
    background-image: linear-gradient(#f3e993, #b0a330);
    font-size: 2em;
    border: 5px solid antiquewhite;
    border-style: inset;
    border-radius: 20px;
}

section, footer, aside{
    background-color: rgba(240, 154, 220, 0.6);
    background-image: linear-gradient(rgba(240, 195, 112, 0.7), rgba(210, 124, 220, 1));
    border: 4px dotted red;
    margin: 0 40px 0;
    padding: 2px 25px 2px;
}

header, section, aside, footer, p, nav{
    text-align: center;
}

p, li{
    font-family: 'Gilda Display', serif;
}

p{
    font-size: 18px;
    padding: 0 40px 0 30px;
}

a{
    text-decoration: none;
}

li{
    margin: 3px 30px 5px 0;
    padding: 0 225px 0 215px;
    font-size: 16px;
    font-style: none;
}

ul{
    list-style-type: none;
}

footer{
    background-color: whitesmoke;
    background-image: linear-gradient(white, grey, pink);
    font-family: 'Kosugi', sans-serif;
    letter-spacing: 2px;
    word-spacing: 7px;
    font-size: 18px;
    border-radius: 45px;
    margin: 0 2px 45px;
}

img{
    border: 3px inset silver;
    border-radius: 20px;
    background-color: white;
    padding: 0 7px 0;
}

article{
    border-radius: 20px;
    border-style: inset;
    background-color: orange;
    background-image: linear-gradient(silver, grey);
    margin: 5px 25px 0;
}