body{
    color: blueviolet;
    background-color: red;
}

div{
    background-color: pink;
}

header{
    text-align: center;
    background-color: palevioletred;
}

.container-fluid{
    background-color: pink;
}

#generator{
    padding: 0px 30px 45px 65px;
}

#story-area{
    padding: 30px 70px;
    position: relative;
    font-size: 1.7em;
    border-left: 2px solid black;
}

footer{
    text-align: center;
}