body{
    color: blueviolet;
    background-color: red;
}

div{
    background-color: pink;
}

img{
    display: block;
    margin: auto;
    position: center;
}

header{
    text-align: center;
    background-color: palevioletred;
    background-image: linear-gradient(to right, pink, palevioletred, pink);
}

.container-fluid{
    background-color: pink;
}

#generator{
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 315px 65px;
}

#story-area{
    padding: 30px 72px 30px ;
    position: relative;
    font-size: 1.7em;
    border-left: 2px solid black;
}

footer{
    text-align: center;
    background-color: palevioletred;
}