body{
    background-color: pink;
}

#head{
    text-align: center;
}

#generator{
    padding: 0px 30px 45px 65px;
}

#story-area{
    padding: 30px 70px;
    position: relative;
    font-size: 1.7em;
    border-left: 2px solid black;
}

