body {
    background-color: black;
}

a {
    color: rgb(255, 0, 157);
}

a:hover {
    text-decoration: none;
    color: blue;
}

li {
    list-style: none;
    border-right: 2px solid black;
    padding: 14px 5px 14px 0px;
}

footer {
    color: white;
    border: 2px solid green;
}

th, td {
    border-left: 3px solid black;
    border-collapse: collapse;
}

.tbl-hdr {
    border: 2px solid black;
    border-left: 5px solid black;
    border-radius: 25px;
    padding: 4px;
    color: magenta;
    font-size: 1.3em;
}

.hdr-cnt {
    padding: 0px 0px 130px 0px;
    background-image: url("test-9.gif");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 1600px 350px;
}

#pgo-hdr {
    background-color: magenta;
    background-image: linear-gradient(to bottom, magenta, palegoldenrod, purple);
    border-radius: 25px;
    border-right: 24px solid black;
    margin: 0px 330px 50px 0px;
    padding: 1px 0px 6px 27px;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.2em;
    text-shadow: 3px 5px 3px;
    color: darkblue;
    
}

#pgt-hdr {
    background-color: violet;
    background-image: linear-gradient(to bottom, violet, salmon, purple);
    border-radius: 25px;
    border-right: 24px solid black; 
    margin: 0px 330px 50px 0px;
    padding: 1px 0px 6px 27px;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.2em;
    text-shadow: 3px 5px 3px;
    color: darkblue;
}

.nav {
    border-right: 24px solid grey;
    border-radius: 20px;
    border-left: 2px solid black;
    margin: 21px 40px;
    padding: 0px 30px 40px 20px;
    background-color: #cccccc;
    background-image: linear-gradient(to bottom, #cccccc, #555555);
    font-size: 1.4em;
    text-align: right;
    position: relative;
    display: block;
    float: right;
}

.dsc {
    border-right: 28px solid transparent;
    border-radius: 10px;
    border-image: url("ezgif-3-21e998b7c46b.gif") 45 round;
    background-image: linear-gradient(to right, white, silver, silver, grey, black);
    padding: 20px 90px 80px 20px;
}

.dsc-pic {
    background-image: url("oie_3193627gyDD2FRG.gif");
    border-right: 8px solid black;
    border-left: 8px solid black;
    margin: 30px 310px 0px 0px;
    padding: 0px 210px 130px 0px;
}

#msc-hd {
    border: 5px solid transparent;
    position: absolute;
    left: 720px;
    bottom: 240px;
}

#dsc-msc {
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    padding: 0px 420px 90px 0px;
    margin: 0px 350px 0px 0px;
}

.dsc-hdr {
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    padding: 0px 440px 40px 0px;
    margin: 0px 340px 0px 0px;
}

.dsc-bdy {
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}

#dsc-gnr {
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}


#dsc-art {
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}

#dsc-sng {
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}