body {
    background-color: black;
}

a {
    color: rgb(255, 0, 157);
}

a:hover {
    text-decoration: none;
    color: blue;
}

p {
    font-family: 'News Cycle', sans-serif;
}

li {
    list-style: none;
    border-right: 2px solid black;
    padding: 14px 5px 14px 0px;
}

h2 {
    font-family: 'Kosugi Maru', sans-serif;
    text-shadow: 2px 4px 2px blueviolet;
}

footer {
    color: white;
    border: 2px solid green;
}

th, td {
    border-left: 3px solid black;
    border-collapse: collapse;
}

.tbl-hdr {
    border: 2px solid black;
    border-left: 5px solid black;
    border-radius: 25px;
    padding: 4px;
    color: magenta;
    font-size: 1.3em;
}

.hdr-cnt {
    padding: 0px 0px 130px 0px;
    background-image: url("test-9.gif");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 1600px 350px;
}

.nav a:hover {
    font-size: 1.1em;
}

#pgo-hdr {
    background-color: magenta;
    background-image: linear-gradient(to bottom, magenta, salmon, purple);
    border-radius: 25px;
    border-right: 24px solid black;
    margin: 0px 330px 50px 0px;
    padding: 1px 0px 6px 27px;
    font-family: 'Notable', sans-serif;
    font-size: 1.2em;
    text-shadow: 3px 5px 3px red;
    color: cyan;
    
}

#pgt-hdr {
    background-color: violet;
    background-image: linear-gradient(to bottom, violet, salmon, purple);
    border-radius: 25px;
    border-right: 24px solid black; 
    margin: 0px 330px 50px 0px;
    padding: 1px 0px 6px 27px;
    font-family: 'Notable', sans-serif;
    font-size: 1.2em;
    text-shadow: 3px 8px 3px red;
    color: cyan;
}

.nav {
    border-right: 24px solid grey;
    border-radius: 20px;
    border-left: 2px solid black;
    margin: 21px 40px;
    padding: 0px 30px 40px 20px;
    background-color: #cccccc;
    background-image: linear-gradient(to bottom, #cccccc, #555555);
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.4em;
    text-align: right;
    position: relative;
    display: block;
    float: right;
}

.dsc {
    border-right: 28px solid transparent;
    border-radius: 10px;
    border-image: url("ezgif-3-21e998b7c46b.gif") 45 round;
    background-image: linear-gradient(to right, white, silver, silver, grey, black);
    padding: 20px 90px 80px 20px;
}

.dsc-pic {
    background-image: url("oie_3193627gyDD2FRG.gif");
    border-right: 8px solid black;
    border-left: 8px solid black;
    margin: 30px 310px 0px 0px;
    padding: 0px 210px 130px 0px;
}

#prj-img {
    position: relative;
    left: 60px;
    bottom: 90px;
}

#prj-img:hover{
    border-right: 2px solid cyan;
}

#prj-lst {
    position: relative;
    left: 420px;
    bottom: 36px;
}

#msc-hd {
    border: 2px solid transparent;
    position: absolute;
    left: 720px;
    bottom: 190px;
}

#msc-hd:hover {
    border-right: 2px solid cyan;
}

#gnr-map {
    border: 15px solid transparent;
    border-radius: 30px;
    position: absolute;
    left: 660px;
    bottom: 160px;
}

#gnr-map:hover {
    border-right: 2px solid cyan;
}

#snd-std {
    position: absolute;
    left: 700px;
    top: 690px;
}

#snd-std:hover {
    border-right: 2px solid cyan;
}

#dsc-msc {
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    padding: 0px 420px 90px 0px;
    margin: 0px 350px 0px 0px;
}

.dsc-hdr {
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    padding: 0px 430px 40px 0px;
    margin: 0px 340px 0px 0px;
}

.dsc-bdy {
    border-bottom: 2px solid black;
    padding: 0px 430px 40px 0px;
    margin: 0px 350px 0px 0px;
}

#dsc-gnr {
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}


#dsc-art {
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}

#dsc-sng {
    border-bottom: 2px solid black;
    margin: 0px 350px 0px 0px;
}