body {
    background-image: linear-gradient(to bottom, cyan, azure,);
}

#pgo-hdr {
    background-color: magenta;
    margin: 7px 290px 60px 0px;
    padding: 0 0;
    font-size: 1.2em;
}

#pgt-hdr {
    background-color: violet;
    margin: 7px 290px 60px 0px;
    padding: 0 0;
    font-size: 1.2em;
}

a {
    color: red;
}

.nav {
    border: 2px solid green;
    margin: 10px 20px;
    padding: 20px 90px 50px 20px;
    font-size: 1.4em;
    text-align: right;
    position: relative;
    display: block;
    float: right;
}